<hr width="100%" />
<h2>Database List</h2> 
<br />
<%
%>
<em>Number found: <%= @objc.length.to_s %></em><br />
<table width="95%" align="center">
  <tr>
   <td valign="top"><strong>Database Name</strong></td>
   <td valign="top"><strong>Notes</strong></td>
  </tr>
<%
num = 0
@objc.each {|i|
%>
<%
  tr_style = "background-color: #ffffff;"
  if (num.modulo 2) == 0
    tr_style = "background-color: #dfeff0;"
  end 
%>
    <tr style="<%= tr_style %>">
       <td valign="top">
           <%= link_to i.title, i.uri %><br />
  	   <strong>Publisher: </strong> <%=i.provider_name%>
       </td>
       <td valign="top">
          <%if i.open == true%> 
            <%= image_tag "open.svg", size: "45x45", alt: "Open Access", title: "Resource is freely accessible to anyone."%>
          <%else%>
	    <%= image_tag "closed.svg", size: "45x45", alt: "Restricted Access", title: "Access Restricted to " + Rails.configuration.organization + " users." %>
 	  <%end%>
       </td>
    </tr>
<%
  num += 1
}

%>

</table>
